#header {
    width: 93.8%;
    height: 8%;
    box-sizing: border-box;
    padding-left: 1.7%;
    padding-top: 1.7%;
    margin: 1% 3.4%;
    position: absolute;
    color: white;
    font-size: 2.25em;
    letter-spacing: 0.03em;
}

#main-question {
    position: absolute;
    width: 93.9%;
    height: 68.6%;
    margin: 8.6% 3.3% 0 3.3%;
    border-radius: 4px;
    padding: 0 3% 1.5% 3%;
    background-color: $white;
    #counter {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 18.9%;
        height: 9.15%;
        background-color: $green;
        border-radius: 0 0 4px 4px;
        #controls-container {
            display: flex;
            justify-content: center;
            color: white;
            font-size: 1.4em;
            margin-top: 6%;
            #page-of-pages {
                position: inherit;
                display: flex;
                justify-content: center;
            }
        }
    }
    #question-text {
        width: 100%;
        height: 15%;
        margin-top: 8.5%;
        font-size: 1.8em;
        // float: left;
    }
    
    #answer-container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 65%;
        margin-top: 19%;
        .button {
        color: $white;
        width: 47.8%;
        height: 47.2%;
        border-radius: 4px;
        outline: none;
        outline-offset: 0;
        background-color: $gray;
        border: none;
        text-align: start;
        padding-left: 2.1%;
        font-size: 1.7em;
            &:hover {
                background-color: $green;
            }
        }
    }
}
#footer {
    position: absolute;
    padding-top: 1.1%;
    margin-left: 3.3%;
    bottom: 0.5%;
    width: 93.9%;
    height: 18.5%;
    
    .footer-button {
        position: absolute;
        right: 3%;
        height: 45%;
        width: 28.9%;
        border-radius: 4px;
        outline: none;
        outline-offset: 0;
        border: none;
        background-color: $green;
        color: white;
        text-align: center;
        font-size: 1.7em;
        &:hover {
            background-color: lighten($green, 20%);
        }
    }
    #skip {
        bottom: 47%;
    }
    #further {
        bottom: -7%;
    }
    
}
