#header-surveys {
    width: 93.8%;
    height: 8%;
    padding: 1.7% 1.7% 0 1.7%;
    margin: 1% 3.4%;
    position: absolute;
    color: white;
    font-size: 2.25em;
    letter-spacing: 0.03em;
    text-align: end;
}

.list-of-surveys-container {
  
    #available-surveys.tab {
    background: linear-gradient(to top, rgb(190, 190, 190),  rgb(224, 224, 224),  rgb(241, 240, 240));
    }   
    #list-of-surveys {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: $white;
    padding: 4%;
    display: flex;
    align-content: flex-start; 
    flex-wrap: wrap;
        .survey {
            width: 100%;
            height: 20%;
            border-radius: 4px;
            background-color: $white;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap; 
            align-items: center;
            margin-top: 10px;
            #finished-survey-name {
                display: flex;
                flex-direction: column;
                justify-content: flex-start; 
                align-items: flex-start;
                width: 46%;
            }
            #finished-survey-status {
                width: 15%;
                text-align: center;
            }
            #finished-survey-till {
                width: 25%;
                text-align: center;
            }
            #finished-survey-state {
                width: 14%;
                height: 36px;
                background-color: $white;
                border-radius: 8px;
                outline: none;
                outline-offset: 0;
                border: 1px solid $green;

            }
        } 
        hr {
            width: 95%;
            margin-top: 15px;
        }
    }
}