
#main-question {

    .question-text-text-comment {
        width: 100%;
        height: auto;
        margin-top: 8.5%;
        font-size: 1.8em;
        // float: left;
    }
    .answer-container {
    height: 30%;
    margin-top: 40%;
    }
}


