header {
    background-color: $primary-color;

    .small-text {
        color: white;
    }
}

.navigation .navigation-content {
    .mart span {
    color: $primary-color;
    }
    nav {
        a {
            color: $third-color;
        }
        a:hover {
            color: $primary-color;
        }
    }
    .search-cart-goods-count {
        span {
            color: $primary-color;
        }
    }
}

#carousel-with-margin {
    .frame
     {
        .first   { background-color: red;     }
        .second  { background-color: orange;  }
        .third   { background-color: yellow;  }
        .fourth  { background-color: green;   }
        .fifth   { background-color: skyblue; }
        .sixth   { background-color: blue;    }
        .seventh { background-color: purple; }
    }
    .carousel-text button {
        color: white;
    }
}

.advantages {
    color: $secondary-color;
    .advantage {
        &:hover {
            
            .advantage-icon, .advantage-title {
                color: $primary-color;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .advantage-icon {
            font-size: 60px;
        }
        .advantage-title {
            text-transform: uppercase;
            font-size: 18px;
        }
        .advantage-text {
            line-height: 22px;
        }
    }
}

.stripe {
    background-color: $primary-color;
}

.new-collection .new-collection-header h2 {
    color: $third-color;
    background-color: rgb(232,239,255);
}

.featured {
    .choose .choose-button {
        .counter {
            border: 1px solid $third-color;
            border-radius: 50%;
            color: $primary-color;
            .digit {
                color: $primary-color;
            }
        }
        .button {
            border-radius: 2px;
            color: $fourth-color;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
    .featured-products .product-image-with-hover {
        .product-image {
            background-color: rgb(232,239,255);
        // background-color: lighten(grey, 50%);
        }
        .product-button &.wide {
            color: white;
        }
    }
}
.product-item {
    .product-image-actions {
        opacity: 0;
        transition: opacity 400ms;
    }
    .product-button {
        background-color: transparent;
        border: 1px solid white;
    
        &:hover {
            background-color: $primary-color;
        }
    }

    &:hover {
        .product-image-actions {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .product-name  {
            background-color: $primary-color;
        }
        .product-price {
            background-color: lighten($primary-color, 15%)
        }
    }

    .product-title-and-price {
        color: white;
        text-transform: uppercase;
        align-items: center;
        font-weight: bold
    }
    .product-name {
        background-color: $third-color;
    }
    .product-price {
        background-color: $fourth-color;
    }
}
.fa-clock-o::before {
    content: "\f017";
}
.End-season {
    color: white;
}

.Customer-review .Customer-review-photo-text {
    .main-photo {
        background-color: cadetblue;
    }
    .customer-name .customer-name-name {
        color: $primary-color;
    }
}

.Newsletter {
    .Newsletter-header .Newsletter-green-stripes .stripe {
        background-color: white;
    }
    .Newsletter-text {
        color: white;
    }
    .mail-and-button {
        .Newsletter-mail {
        background-color: white;
        }
        .button-of-mail {
            color: white;
            border: 3px solid white;
            background-color: $primary-color;
        }
    }    
}