@font-face {
    font-family: MyFont;
    src: url(myriadpro-regular.ttf);
}

body {  
    font-family: MyFont;
    background: linear-gradient(to right, #b3b3b3, rgb(241, 241, 241),#b3b3b3);
} 

div {
    margin: 3px;
    border-radius: 4px;
}

.parent {
    display: flex;
    width: 800px;
    height: 600px;
    margin: auto;
}

.topic_creator {
    display: flex;
    flex: 0 0 95%;
}

.topic_name {
    font-size: 1.3em;
}
.creator {
    color: green;
}

.crest {
    display: flex;
    align-items: center;
    margin: 0 9px 0 0;
    flex-grow: 1;
    font-weight: bold;
}
.close:hover {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}

.body {
    
    height: 530px;
    overflow-y: scroll;
    background: linear-gradient(to top, rgb(136, 90, 65), rgb(211, 175, 155) );
    box-shadow: 4px 4px 5px gray;
}

.header {
    height: 70px;
    background: linear-gradient(to top, #C8845F, #E7C6B6 );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 4px 4px 5px gray;
    border: 1px solid rgb(224, 224, 224);
}

::-webkit-scrollbar { 
    display: none; 
}

.people_info {
    flex: 0 0 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f0c6ae;
}

.people_info, .message {
    justify-content: space-between;
    box-shadow: 4px 4px 6px rgb(48, 48, 48);
    border: 1px solid rgb(224, 224, 224);
}

.message {
    display: flex;
    background: rgb(228, 215, 209) ;
    width: 75%;
}

.icon {
    color: rgb(243, 243, 243);
    font-weight: bold;
}
.EP, .EH, .GM, .VG, .DL, .YG, .OA, .EM  {
    border: 2px solid rgb(80, 80, 80);
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    
}
.EH {background: radial-gradient(rgb(165, 133, 160), rgb(163, 2, 136) );}
.EP {background: radial-gradient(rgb(146, 170, 146), green            );}
.GM {background: radial-gradient(rgb(131, 123, 165), rgb(25, 0, 134)  );}
.VG {background: radial-gradient(rgb(172, 119, 119), rgb(134, 0, 0)   );}
.DL {background: radial-gradient(rgb(128, 180, 180), rgb(0, 134, 134) );}
.YG {background: radial-gradient(rgb(184, 146, 122), rgb(134, 54, 0)  );}
.OA {background: radial-gradient(rgb(189, 188, 125), rgb(155, 152, 0) );}
.EM {background: radial-gradient(rgb(167, 150, 189), rgb(67, 0, 155)  );}

.name.EHn {color: rgb(163, 2, 136) ;}
.name.EPn {color: green            ;}
.name.GMn {color: rgb(25, 0, 134)  ;}
.name.VGn {color: rgb(134, 0, 0)   ;}
.name.DLn {color: rgb(0, 134, 134) ;}
.name.YGn {color: rgb(134, 54, 0)  ;}
.name.OAn {color: rgb(155, 152, 0) ;}
.name.EMn {color: rgb(67, 0, 155)  ;}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 0.7em;
    font-style: oblique;
    font-weight: bold;
    margin: 7px 0 4px 7px;
}

.blabla {
    margin: 3px 3px 4px 7px;
}

.message_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.parent, .topic_creator, .message {
    flex-direction: column;
    align-content: space-between;
}

